
#contmem {
    height: 520px;
    width: 100%;
    min-width: 1024px;
    text-align: center;
}

#contmem > div h1{
    font-family: "Poiret One",cursive;
    font-size: 1.4em;
    font-weight: bold;
    color: blueviolet;
}

#contmem > div p{
    font-family: 'Jura', sans-serif;
    font-size: 1.2em;
    color:darkmagenta;
}

#contmem > div a{
    font-family: 'Jura', sans-serif;
    font-size: 1.2em;
}

#contmem > div form{
    position: relative;
    margin: 0 auto;
    width: 70%;
}

#contmem > div form table{
    border: 1px solid;
    width: 100%;
    height: 200px;
}

#contmem > div form table tr th,td input{
    text-align: center;
    font-family: 'Jura', sans-serif;
    height: 40px;
    font-size: 1.5em;
}

#contmem > div form table tr td input{
    width: 99%;
}

#contmem > div form button{
    width: 200px;
    background-color: rgb(110,111,61);
    color: white;
}

#contmem > div form button:hover{
    
    background-color: blueviolet;
    transition: all 500ms;
}