.listarusuarios {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}.listarusuarios table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.listarusuarios tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.listarusuarios table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.listarusuarios table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.listarusuarios tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.listarusuarios tr:hover td{
	
}
.listarusuarios tr:nth-child(odd){ background-color:#d4ffaa; }
.listarusuarios tr:nth-child(even)    { background-color:#ebffd8; }.listarusuarios td{
	vertical-align:middle;
	
	
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:12px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.listarusuarios tr:last-child td{
	border-width:0px 1px 0px 0px;
}.listarusuarios tr td:last-child{
	border-width:0px 0px 1px 0px;
}.listarusuarios tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.listarusuarios tr:first-child td{
		background:-o-linear-gradient(bottom, #00bc7a 5%, #09b731 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00bc7a), color-stop(1, #09b731) );
	background:-moz-linear-gradient( center top, #00bc7a 5%, #09b731 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bc7a", endColorstr="#09b731");	background: -o-linear-gradient(top,#00bc7a,09b731);

	background-color:#00bc7a;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.listarusuarios tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #00bc7a 5%, #09b731 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00bc7a), color-stop(1, #09b731) );
	background:-moz-linear-gradient( center top, #00bc7a 5%, #09b731 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bc7a", endColorstr="#09b731");	background: -o-linear-gradient(top,#00bc7a,09b731);

	background-color:#00bc7a;
}
.listarusuarios tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.listarusuarios tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
#contFormSadmin {
    min-width: 1000px;
}

#contFormSadmin div{
    display: inline-block;
    width: 40%;
    margin-top: 15px;
}

#contFormSadmin label{
    width: 20%;
}

#contFormSadmin input,select{
    width: 50%;
}